@using System.Web.Razor.Parser.SyntaxTree
@model IEnumerable<MovieLibrary.Models.API.MovieShortItem>

@{
    ViewBag.Title = "Now Playing";
}

<div class="jumbotron">
    <h1 class="display-4">Movie Library</h1>
    <p class="lead">Search for your favorite films and leave a like or dislike!</p>
    <hr class="my-4">
</div>

<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th>Title</th>
        <th style="text-align: center">Release Date</th>
        <th style="text-align: center">View Details</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>
                <i>@movie.Title</i>
            </td>
            <td style="text-align: center">
                @if (movie.ReleaseDate != null)
                {
                    @movie.ReleaseDate.GetValueOrDefault().ToString("d")
                }
                else
                {
                    <span>TBA</span>
                }
            </td>
            <td style="text-align: center">
                <a href="@Url.Action("Details", "Home", new {id = movie.Id})">
                    <i class="fas fa-film"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>