@model IEnumerable<MovieLibrary.Models.API.MovieShortItem>

@{
    ViewBag.Title = "Now Playing";
}

<div class="jumbotron">
    <h1 class="display-4">Movie Libary</h1>
    <p class="lead">Search for your favorite films and leave a like or dislike!</p>
    <hr class="my-4">
</div>

@*TODO table with results*@