@model IEnumerable<MovieLibrary.Models.API.MovieShortItem>

@{
    ViewBag.Title = "Now Playing";
}

<div class="jumbotron">
    <h1 class="display-4">Movie Libary</h1>
    <p class="lead">Search for your favorite films and leave a like or dislike!</p>
    <hr class="my-4">
</div>

<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th>Title</th>
        <th>Release Date</th>
        <th>View Details</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>
                <strong>@movie.Title</strong>
            </td>
            <td>@movie.ReleaseDate.ToString("d")</td>
            <td>
                <a href="@Url.Action("Details", "Home", new {id = movie.Id})">
                    <i class="fas fa-film"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>