@model IEnumerable<MovieLibrary.Models.API.MovieShortItem>

@{
    ViewBag.Title = "Search Titles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<h2 style="text-align: center">Search Titles</h2>

@* TODO consider top 3 results w pics *@

@Html.Partial("_ResultsTable")