<div class="form-row">
    <div class="input-group mb-3">
        @using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
            @Html.TextBox("title")
            <input type="text" class="form-control" placeholder="Search Title" aria-label="Search Title" 
                   aria-describedby="searchBtn">
            
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary" id="searchBtn">Search</button>
            </div>
        }
    </div>
</div>