@model MovieLibrary.UI.Models.SearchRequestVM

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<div class="form-row">
    <div class="col">
        @using (Html.BeginForm("Search", "Search", FormMethod.Post))
        {
            @Html.ValidationSummary()
            @Html.TextBoxFor(m => m.SearchQuery, new {@class = "form-control", 
                placeholder = "Search Title"})
        }
    </div>
</div>

@*TODO table with results*@