<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <appSettings>
        
    </appSettings>

    <!--Add database credentials here-->
    <connectionStrings>
        <add name="MovieLibrary" connectionString="Server=localhost;Database=MovieLibrary;User Id=sa;Password=;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>